body {
  border: solid 1px black;
  width: fit-content;
  background-color: rgba(226, 215, 215, 0.1);
  margin: auto;
  box-shadow: 5px 5px 1px 1px rgba(44, 43, 43, 0.1);
  margin-bottom: 10px;
  padding: 10px;
}
h1 {
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-style: unset;
  font-weight: bolder;
  text-align: center;
}
h2 {
  font-weight: bolder;
  background-color: rgba(95, 90, 90, 0.7);
  padding: 5px;
}

p {
  text-justify: auto;
  font-size: 17px;
  padding-top: 10px;
}

.header-content {
  padding-top: 10px;
  margin-bottom: -40px;
}
nav {
  width: 800px;
  margin: auto;
  text-align: center;
  background-color: rgba(95, 90, 90, 0.9);
  padding: 10px;
  box-shadow: 0px 2px 2px 3px rgba(44, 43, 43, 0.1);
}
nav ul {
  display: inline-flex;
}
nav ul li a {
  text-decoration: none;
  padding: 10px;
  color: white;
}

nav ul li a:hover {
  color: blue;
  font-size: 18px;
}
main {
  padding: 10px;
  width: 800px;
  height: fit-content;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
}

.contact-section {
  padding: 20px;
  margin: auto;
  font-family: "Times New Roman", Times, serif;
}

.carrier-obj {
  padding-bottom: 20px;
}

.skill-set {
  padding-bottom: 20px;
}

table,
tr,
th,
td {
  border: solid 1px black;
  padding: 10px;
}

table {
  margin-top: 12px;
  box-shadow: 2px 2px 2px 2px rgba(44, 43, 43, 0.1);
}
td.td-head {
  width: 250px;
  font-weight: bold;
}
td.td-content {
  width: 500px;
  font-weight: normal;
}
th {
  font-weight: bold;
}
.ace-profile {
  padding-bottom: 20px;
}

.experience {
  padding-bottom: 20px;
}
main ul li {
  font-size: 17px;
  padding-top: 10px;
  list-style: inside;
}

.proj-details {
  padding-bottom: 20px;
}

.strength {
  padding-bottom: 20px;
}
.hobby {
  padding-bottom: 20px;
}
.language {
  padding-bottom: 20px;
}
.declaration {
  padding-bottom: 10px;
}
.personal {
  padding-bottom: 20px;
}
.data-table {
  border: none;
}

.data-table tr {
  border: none;
}
.data-table tr td {
  border: none;
}
